.venv/
venv/
.idea/

__pycache__/
*.pyc
*.pyo
*.pyd

*.sqlite3
playwright/.cache/

.env
.env.*
!.env.example

*.log

.vscode/

build/
dist/
*.egg-info/
hexlet_code.egg-info/

.pytest_cache/
.coverage
.coverage.*
htmlcov/
.mypy_cache/
.cache/

staticfiles/
