{% extends 'base.html' %}

{% block content %}
  <h1>{% if object %}Редактировать задачу{% else %}Создать задачу{% endif %}</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="mb-3">
      <label for="id_name" class="form-label">Имя задачи</label>
      {{ form.name }}
    </div>
    <div class="mb-3">
      <label for="id_description" class="form-label">Описание</label>
      {{ form.description }}
    </div>
    <div class="mb-3">
      <label for="id_status" class="form-label">Статус</label>
      {{ form.status }}
    </div>
    <div class="mb-3">
      <label for="id_executor" class="form-label">Исполнитель</label>
      {{ form.executor }}
    </div>
    <div class="mb-3">
      <label for="id_labels" class="form-label">Метки</label>
      {{ form.labels }}
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
  </form>
{% endblock %}