{% extends "base.html" %}
{% block title %}Изменение задачи{% endblock %}

{% block content %}
<h1 class="mb-3">Изменение задачи</h1>

<form method="post">
  {% csrf_token %}
  <div class="mb-3">
    {{ form.name.label_tag }}
    {{ form.name }}
  </div>
  <div class="mb-3">
    {{ form.description.label_tag }}
    {{ form.description }}
  </div>
  <div class="mb-3">
    {{ form.status.label_tag }}
    {{ form.status }}
  </div>
  <div class="mb-3">
    {{ form.executor.label_tag }}
    {{ form.executor }}
    {{ form.executor.errors }}
  </div>
  <div class="mb-3">
    {{ form.labels.label_tag }}
    {{ form.labels }}
  </div>
  <button type="submit" class="btn btn-primary">Изменить</button>
</form>
{% endblock %}
