{% extends "base.html" %}
{% block title %}Пользователи{% endblock %}

{% block content %}
<h1 class="mb-3">Пользователи</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Имя пользователя</th>
      <th>Полное имя</th>
      <th>Дата создания</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for u in users %}
      <tr>
        <td>{{ u.id }}</td>
        <td>{{ u.username }}</td>
        <td>{{ u.get_full_name }}</td>
        <td>{{ u.date_joined|date:"d.m.Y H:i" }}</td>
        <td class="text-end">
          {# показываем действия только для своей строки #}
          {% if user.is_authenticated and user.pk == u.pk %}
            <a href="{% url 'users_update' u.pk %}">Изменить</a><br>
            <a href="{% url 'users_delete' u.pk %}">Удалить</a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
