{% extends "base.html" %}
{% block title %}Изменение пользователя{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6 col-lg-4">
    <h1 class="mb-4">Изменение пользователя</h1>

    <form method="post">
      {% csrf_token %}

      <div class="mb-3">
        {{ form.first_name.label_tag }}
        {{ form.first_name }}
        {{ form.first_name.errors }}
      </div>

      <div class="mb-3">
        {{ form.last_name.label_tag }}
        {{ form.last_name }}
        {{ form.last_name.errors }}
      </div>

      <div class="mb-3">
        {{ form.username.label_tag }}
        {{ form.username }}
        {{ form.username.errors }}
      </div>

      <button type="submit" class="btn btn-primary">Изменить</button>
    </form>
  </div>
</div>
{% endblock %}
