<form method="get" class="mb-4">
  <div class="row g-3 align-items-end">
    <div class="col-md-3">
      {{ filter.form.status.label_tag }}
      {{ filter.form.status }}
    </div>
    <div class="col-md-3">
      {{ filter.form.executor.label_tag }}
      {{ filter.form.executor }}
    </div>
    <div class="col-md-3">
      {{ filter.form.labels.label_tag }}
      {{ filter.form.labels }}
    </div>
    <div class="col-md-3">
      <div class="form-check mt-4">
        {{ filter.form.self_tasks }}  {# у него уже id="id_self_tasks" #}
        <label class="form-check-label" for="id_self_tasks">Только свои задачи</label>
      </div>
    </div>
  </div>

  <div class="mt-3 d-flex gap-2">
    <button type="submit" class="btn btn-outline-primary">Показать</button>
    <a class="btn btn-outline-secondary" href="{% url 'tasks_index' %}">Сбросить</a>
  </div>
</form>
